@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #222;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #fafafa;
}

.nav-icon span strong {
  color: #f5ae2a;
  font-size: 30px;
}

.nav-icon img {
  height: 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 25px;
  background: #222;
  box-shadow: inset 0 -1px 0 #111;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  font-family: "Roboto Flex", sans-serif;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  background: #f5ae2a;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h2 {
  font-size: 4rem;
}

section h2 strong {
  font-size: 4rem;
}

section strong {
  font-size: 1.5rem;
  color: #f5ae2a;
}

section p {
  margin-top: 15px;
  font-size: 1.5rem;
  width: 1000px;
}

#home {
  background: url("images/dumbell.jpg");
  background-size: cover;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 23%;
  margin-right: 10%;
  color: #fff;
  height: 100vh;
}

h1 {
  font-size: 4.2rem;
}

.typing {
  position: relative;
  margin-left: 10px;
  color: #f5ae2a;
}

.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  border-right: 2px solid #f5ae2a;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btns {
  margin-bottom: 15%;
  margin-right: 4%;
}

.btns p {
  font-size: 2rem;
}

.offre-btn {
  width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: #f5ae2a;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.offre-btn a {
  color: #fff;
}

.detail-btn {
  width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: #f5ae2a;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.offre-btn:hover,
.detail-btn:hover {
  background: linear-gradient(to left, #f5ae2a, #f5e82a);
}

.detail-btn a {
  color: #fff;
}

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #333;
}

.slider .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .imgBox {
  z-index: 10;
  clip-path: circle(1000px at center);
  transition-delay: 0s;
}

.slider .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .imgBox .content {
  position: relative;
  text-align: center;
  max-width: 900px;
}

.slider .imgBox .content p {
  font-size: 3em;
  color: #fff;
}

.slider .imgBox .content strong {
  font-size: 1.1em;
  color: #f5ae2a;
}

.slider input[type="radio"] {
  position: relative;
  z-index: 1000;
  margin: 5px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}

.slider .imgBox #sport p,
.slider .imgBox #groupe p,
.slider .imgBox #programmation p,
.slider .imgBox #abonnement p,
.slider .imgBox #sur-mesure p,
.slider .imgBox #fidele p {
  margin-left: -5%;
}

.download {
  width: 500px;
  padding: 10px 30px;
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: #f5ae2a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.download:hover {
  background: linear-gradient(to left, #f5ae2a, #f5e82a);
}

#contact {
  background: #f5ae2a;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  font-size: 2rem;
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #f5ae2a;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  transition: all 0.3s ease;
}

form button:hover {
  background: linear-gradient(to left, #f5ae2a, #f5e82a);
}

.infos {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos a {
  color: #fff;
  font-size: 2rem;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p {
  text-align: center;
  color: #fff;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
    padding-right: 15%;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .nav-icon span strong {
    font-size: 27px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #222;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #222;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #fff;
    transform: translate(-100%);
    transition: transform 0.3s ease-out;
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0;
  }

  .main-navlinks {
    order: 1;
  }

  section h2 {
    font-size: 45px;
  }

  section h2 strong {
    font-size: 45px;
  }

  section p {
    font-size: 20px;
    width: 450px;
  }

  section p strong {
    font-size: 20px;
  }

  #home {
    height: 50vh;
  }

  .intro {
    margin-top: 40%;
  }

  .typing {
    font-size: 40px;
  }

  .btns {
    margin-bottom: 40%;
  }

  .offre-btn,
  .detail-btn {
    width: 200px;
    font-size: 20px;
  }

  #about {
    height: 80vh;
  }

  .slider .imgBox #sport h1,
  .slider .imgBox #sport h1 strong,
  .slider .imgBox #groupe h1,
  .slider .imgBox #groupe h1 strong,
  .slider .imgBox #programmation h1,
  .slider .imgBox #programmation h1 strong,
  .slider .imgBox #abonnement h1,
  .slider .imgBox #abonnement h1 strong,
  .slider .imgBox #sur-mesure h1,
  .slider .imgBox #sur-mesure h1 strong,
  .slider .imgBox #fidele h1,
  .slider .imgBox #fidele h1 strong {
    font-size: 2rem;
  }

  .slider .imgBox .content p {
    font-size: 30px;
  }

  .slider .imgBox #sport p,
  .slider .imgBox #groupe p {
    margin-left: 0;
  }

  .slider .imgBox #programmation p,
  .slider .imgBox #abonnement p,
  .slider .imgBox #sur-mesure p,
  .slider .imgBox #fidele p {
    margin-left: 8%;
  }

  .download {
    width: 400px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }

  .nav-icon span {
    font-size: 20px;
  }
}
